* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* Start of the header, rewritten to remove Divs & provide more clarity */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Company name */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}
/* Styling for the Nav bar within the header */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header ul {
    list-style-type: none;
}

.header ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* Formatting all h2 and h3 headings throughout page (Minus footer) */
h2 {
    margin-bottom: 20px;
    font-size: 36px;

}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Hero image ID being used for proper sizing and format on page */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* All the structuring & styling for the central cards */
article {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* All the structuring * styling for the Aside area */

.benefits {
    margin-right: 20px;
    padding: 20px;
    position: relative;  
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd; margin-bottom: 32px;
    color: #ffffff;
}

/* Sizing & format for left-justified images in the main section */
.search-engine-optimization img, .social-media-marketing img {
    max-height: 200px; float: left;
    margin-right: 25px;
}
/* Sizing & format for single right-justified image in main section */
.online-reputation-management img {
    max-height: 200px; float: right;
    margin-left: 25px;
}
/* This is the stylings for the images in the "Aside" section. */
    .benefit-images {
        display: block;
        margin: 10px auto;
        max-width: 150px;
    }
    /* This is the start of the footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}